<strong>Hey, {{ name }}</strong>

<p>
  Você solicitou a recuperação da sua senha, segue abaixo link para altera-lá
</p>

<p>
  <a href="{{ link }}" target="_blank" rel="noopener noreferrer">Alterar a minha senha</a>
</p>
